

<div (click)="onDivClick($event)">
<h2 [style.color]="isActive?'blue':'red'">{{title}}</h2>
<ul>
  <li *ngFor="let author of authors">{{author}}</li>
</ul>
<!-- <input placeholder="Enter a word" (keyup)="onKeyUp($event)"> -->
<!-- <input placeholder="Enter a word" (keyup.enter)="onKeyUp($event)"> -->
<!-- template variable -->
<!-- <input placeholder = "enter your email" #email (keyup.enter)="onKeyUp(email.value)"> -->
<!-- two-way data binding  using ngModel -->
<input placeholder="enter your email" [(ngModel)]="email" (keyup.enter)="onKeyUp()">
<button class="btn btn-primary" [class.active]="isActive" (click)="onSave($event)">Click Me!</button>
</div>
<books></books>
